.about {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 23px;
        padding-top: 140px;
        padding-bottom: 140px;
    }

    &__block {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        border: 1px solid var(--light-grey);
        border-radius: 15px;
        padding: 68px 119px 60px 52px;

        &:first-child {
            &::after {
                content: "";
                position: absolute;
                top: 65%;
                right: -37px;
                background: url(../img/icons/icon-line.png) 0 0 / contain
                    no-repeat;
                width: 38px;
                height: 10px;
                z-index: 9999;
            }
        }

        &_size {
            max-width: 530px;

            &:last-child {
                align-self: flex-end;
            }
        }

        &_padding {
            padding: 68px 24px 0 26px;

            &::after {
                content: "";
                position: absolute;
                top: 44%;
                right: -37px;
                background: url(../img/icons/icon-line.png) 0 0 / contain
                    no-repeat;
                width: 38px;
                height: 10px;
                z-index: 9999;
            }
        }
    }

    &__count {
        font-family: var(--font4);
        font-weight: 500;
        font-size: 0.875rem;
        letter-spacing: 2px;
        align-self: flex-start;
        color: var(--orange);
        background: var(--lightest-grey);
        border-radius: 8px;
        padding: 8px;
        margin-bottom: 27px;
    }

    &__block-title {
        font-family: var(--third-family);
        font-weight: 300;
        font-size: 1.875rem;
        margin-bottom: 46px;
    }

    &__block-descption {
        font-size: 1.125rem;
    }

    &__img-wrap {
        margin-top: 28px;
        max-width: 626px;
        align-self: center;
    }

    &__img {
        width: 100%;
    }
}

@media (max-width: 1920px) {
    .about {
        &__block {
            &:first-child {
                &::after {
                    right: -28px;
                    width: 30px;
                }
            }

            &_padding {
                &::after {
                    right: -28px;
                    width: 30px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .about {
        &__wrapper {
            padding-top: 104px;
            padding-bottom: 118px;
        }

        &__block-title {
            font-size: 1.5rem;
            margin-bottom: 37px;
        }

        &__block {
            &_size {
                padding: 39px 42px 32px 29px;
            }

            &_padding {
                min-width: 578px;
                padding: 39px 38px 0 39px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .about {
        &__wrapper {
            flex-wrap: wrap;
            gap: 16px;
            padding-top: 60px;
            padding-bottom: 80px;
        }

        &__block-title {
            font-size: 1.25rem;
            margin-bottom: 22px;
        }

        &__block:first-child::after,
        &__block_padding::after {
            display: none;
        }

        &__block {
            &_padding {
                order: 2;
            }
            &_size {
                max-width: 550px;
                width: 100%;
                min-height: 270px;
            }
        }

        &__block-description br {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    .about {
        &__block {
            &_size {
                max-width: 100%;
            }
        }
    }
}
