.burger {
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    @media (max-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        width: 68px;
        height: 68px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
        z-index: 99999;
        order: 2;

        span {
            display: block;
            height: 4px;
            width: 30px;
            background-color: var(--orange);
            border-radius: 2px;
            transition: 0.3s;
        }

        &.open {
            span:nth-child(1) {
                transform: translateY(6px) rotate(45deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: translateY(-10px) rotate(-45deg);
            }
        }
    }

    @media (max-width: 425px) {
        width: 68px;
        height: 68px;
    }
}
