.callback {
    margin-bottom: 100px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        background-color: var(--lightest);
        border-radius: 15px;
        padding: 116px 55px;
    }

    &__title {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -20px;
            right: 45px;
            background-image: url(../img/icons/icon-callback.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 35px;
            height: 25px;
        }
    }

    &__block-left {
        max-width: 528px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__block-person {
        max-width: 408px;
        width: 100%;
    }

    &__top-text {
        display: inline-block;
        width: 100%;
        font-weight: 500;
        font-size: 0.875rem;
        color: rgba(255, 255, 255, 0.75);
        background-color: var(--green);
        border-radius: 4px;
        padding: 4px 18px 4px;
    }

    &__block-bottom {
        display: flex;
        gap: 50px;
        align-items: center;
        background-color: var(--white);
        border-radius: 10px;
        padding: 10px;
    }

    &__img-wrap {
        max-width: 103px;
    }

    &__img {
        width: 100%;
    }

    &__personal-info {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    &__name {
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 111%;
    }

    &__position {
        font-weight: 500;
        font-size: 0.875rem;
        color: var(--grey-5);
    }

    &__block-right {
        flex: 1;
    }

    &__form-text {
        font-weight: 500;
        font-size: 1.5rem;
        color: var(--black);
        max-width: 375px;
        margin-bottom: 21px;
    }

    &__inputs-blocks {
        display: flex;
        flex-direction: column;
        gap: 35px;
        background-color: var(--green);
        padding: 44px 32px;
        border-radius: 15px;
    }

    &__inputs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

    &__bottom-block {
        display: flex;
        align-items: center;
        gap: 45px;
    }

    &__privacy {
        font-size: 0.75rem;
        line-height: 133%;
        color: var(--white);
        max-width: 216px;
    }
}

@media (max-width: 1440px) {
    .callback {
        margin-bottom: 48px;

        &__wrapper {
            gap: 5px;
            padding: 63px 35px;
        }

        &__block-left {
            padding-right: 142px;
        }

        &__inputs-blocks {
            padding: 24px 18px;
        }
    }
}

@media (max-width: 1200px) {
    .callback {
        &__title {
            &::after {
                display: none;
            }
        }

        &__block-left {
            padding-right: 166px;
        }

        &__form-text {
            font-size: 1rem;
        }
    }
}

@media (max-width: 1024px) {
    .callback {
        &__wrapper {
            flex-wrap: wrap;
            padding: 38px 35px;
        }

        &__title {
            margin-bottom: 24px;
        }

        &__block-left {
            max-width: 100%;
            width: 100%;
            flex-direction: row;
            gap: 140px;
            padding-right: 0;
        }

        &__privacy {
            max-width: 326px;
        }
    }
}

@media (max-width: 680px) {
    .callback {
        &__block-left {
            gap: 10px;
        }

        &__inputs {
            grid-template-columns: repeat(1, 1fr);
            width: 100%;
        }

        &__input {
            width: 100%;
        }

        &__bottom-block {
            width: 100%;
            flex-wrap: wrap;
            gap: 15px;
        }

        &__button {
            width: 100%;
        }
    }
}

@media (max-width: 425px) {
    .callback {
        &__wrapper {
            padding: 18px 15px;
        }

        &__block-left {
            flex-wrap: wrap;
        }
    }
}
