/* Fonts */

@font-face {
    font-family: "Manrope";
    src: ("manropre"), url("./fonts/manrope-regular.woff2") format("woff2"),
        url("./fonts/manrope-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: ("manropre"), url("./fonts/manrope-medium.woff2") format("woff2"),
        url("./fonts/manrope-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: ("manropre"), url("./fonts/manrope-semibold.woff2") format("woff2"),
        url("./fonts/manrope-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: ("manropre"), url("./fonts/bold.woff2") format("woff2"),
        url("./fonts/bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Manrope";
    src: ("manropre"), url("./fonts/extrabold.woff2") format("woff2"),
        url("./fonts/extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: ("manropre"), url("./fonts/gilroy-regular.woff2") format("woff2"),
        url("./fonts/gilroy-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: ("manropre"), url("./fonts/gilroy-medium.woff2") format("woff2"),
        url("./fonts/gilroy-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: ("manropre"), url("./fonts/gilroy-semibold.woff2") format("woff2"),
        url("./fonts/gilroy-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Onest";
    src: ("manropre"), url("./fonts/onest-light.woff2") format("woff2"),
        url("./fonts/onest-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Onest";
    src: ("manropre"), url("./fonts/onest-regular.woff2") format("woff2"),
        url("./fonts/onest-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Onest";
    src: ("manropre"), url("./fonts/onest-semibold.woff2") format("woff2"),
        url("./fonts/onest-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Onest";
    src: ("manropre"), url("./fonts/onest-bold.woff2") format("woff2"),
        url("./fonts/onest-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Onest";
    src: ("manropre"), url("./fonts/onest-extrabold.woff2") format("woff2"),
        url("./fonts/onest-extrabold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Onest";
    src: ("manropre"), url("./fonts/rubik-medium.woff2") format("woff2"),
        url("./fonts/rubik-medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
