.footer {
    background-color: var(--grey-6);

    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 90px;
        padding-bottom: 30px;
    }

    &__block-top {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 118px;
    }

    &__about {
        max-width: 260px;
    }

    &__text-about {
        font-weight: 500;
        font-size: 0.875rem;
        color: var(--grey);
    }

    &__info-block {
        display: flex;
        gap: 143px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 4px;
    }

    &__link {
        font-weight: 500;
        font-size: 1.25rem;
        color: var(--black);
    }

    &__privacy-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__privacy-text {
        font-family: var(--second-family);
        font-weight: 500;
        color: var(--grey-7);
    }

    &__privacy {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__block-bottom {
        border-top: 1px solid #ccc;
        padding-top: 68px;
    }
}
