.header {
    position: relative;
    background-color: var(--lightest);
    z-index: 10000;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }

    &__logo-container {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 0.938rem;
        color: var(--grey);
        max-width: 208px;
    }
}
