.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;

    &.active {
        display: block;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    &__inner {
        position: relative;
        max-width: 1240px;
        margin: 0 auto;

        &_width {
            max-width: 800px;
        }
    }

    &__content {
        max-height: 90vh;
        overflow-y: auto;
        position: relative;
        z-index: 20;
        background: #fff;
        max-width: 800px;
        border-radius: 10px;
        text-align: center;
        padding: 53px 62px;
        margin: 100px auto;

        &_width {
            max-width: 1240px;
            display: flex;
            gap: 40px;
        }
    }

    &__title {
        font-family: var(--third-family);
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 127%;
        text-align: center;
        margin-bottom: 15px;

        &_font {
            font-family: var(--font-family);
            font-size: 1.5rem;
            text-align: left;
        }
    }

    &__text {
        text-align: center;
        margin-bottom: 50px;
    }

    &__close {
        position: absolute;
        top: -38px;
        right: -40px;
        width: 40px;
        height: 40px;
        color: var(--orange);
        background: white;
        border: 1px solid #ccc;
        font-size: 24px;
        cursor: pointer;
        z-index: 3;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        padding: 0;
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-bottom: 30px;
    }

    &__input {
        border: 1px solid var(--grey-13);
        border-radius: 70px;
    }

    &__button {
        flex: 1;
    }

    &__privacy {
        font-size: 0.75rem;
        line-height: 133%;
        color: var(--grey-14);
        flex: 1;
        text-align: left;

        &_link {
            color: var(--grey-14);
        }
    }

    &__bottom-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    &__inputs,
    &__bottom-block {
        padding: 0 70px;
    }

    &__img-wrap {
        max-width: 392px;
        flex-shrink: 0;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    &__lists {
        text-align: left;
    }

    &__title-list {
        display: inline-block;
        font-weight: 600;
        color: var(--green);
        margin-bottom: 6px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-bottom: 14px;
    }

    &__item {
        display: flex;
    }

    &__marker-wrap {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        margin-right: 10px;
        margin-top: 4px;
    }

    &__marker {
        width: 100%;
    }

    &__text-block {
        color: rgba(0, 0, 0, 0.8);
    }

    &__no-scroll {
        overflow: hidden;
    }
}

@media (max-width: 1200px) {
    .popup {
        &__inner {
            max-width: 900px;
        }

        &__content {
            &_width {
                max-width: 900px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .popup {
        &__inner {
            max-width: 500px;
            &_width {
                max-width: 500px;
            }
        }

        &__content {
            max-width: 500px;
            padding: 20px;

            &_width {
                flex-direction: column;
                gap: 20px;
                margin-top: 50px;
            }
        }

        &__title {
            font-size: 1.75rem;

            &_font {
                font-size: 1.25rem;
            }
        }

        &__inputs,
        &__bottom-block {
            padding: 0;
        }

        &__bottom-block {
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
        }
    }
}

@media (max-width: 680px) {
    .popup {
        &__inner {
            max-width: 300px;
        }

        &__content {
            max-width: 300px;
            padding: 10px;
            margin: 50px auto;
        }

        &__title {
            font-size: 1.25rem;
        }

        &__text {
            font-size: 0.875rem;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 375px) {
    .popup {
        &_content {
            max-width: 280px;
        }
    }
}
