.possibilities {
    margin-bottom: 135px;

    &__title {
        padding: 0px 260px;
        margin-bottom: 50px;
    }

    &__blocks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 11px;
    }

    &__block {
        border-radius: 15px;
        background: var(--lightest);
    }

    &__text-wrap {
        padding: 52px 54px 60px 54px;
    }

    &__block-title {
        font-weight: 600;
        font-size: 1.625rem;
        color: var(--orange);
        margin-bottom: 18px;
    }

    &__text {
        font-size: 1.125rem;
        padding: 0 150px 0 0;
    }

    &__img-wrap {
        height: 274px;
    }

    &__img {
        height: 100%;
        width: 100%;
        justify-self: center;
    }
}

@media (max-width: 1440px) {
    .possibilities {
        margin-bottom: 120px;

        &__title {
            margin-bottom: 35px;
        }

        &__img-wrap {
            height: 193px;
        }

        &__text-wrap {
            padding: 50px 63px 42px;
        }

        &__text {
            padding: 0;
        }

        &__block-title {
            font-size: 1.375rem;
            margin-bottom: 14px;
        }

        &__text {
            font-size: 1rem;
        }
    }
}

@media (max-width: 1200px) {
    .possibilities {
        margin-bottom: 80px;

        &__title {
            padding: 0 122px;
            margin-bottom: 25px;
        }

        &__text-wrap {
            padding: 20px 33px 30px;
        }

        &__block-title {
            margin-bottom: 8px;
        }

        &__img-wrap {
            height: 143px;
        }
    }
}

@media (max-width: 860px) {
    .possibilities {
        margin-bottom: 60px;

        &__blocks {
            grid-template-columns: repeat(2, 1fr);
        }

        &__title {
            padding: 0 92px;
        }
    }
}

@media (max-width: 680px) {
    .possibilities {
        &__title {
            padding: 0;
        }

        &__blocks {
            grid-template-columns: repeat(1, 1fr);
        }

        &__block-title {
            font-size: 1.125rem;
        }

        &__text-wrap {
            padding: 20px 23px 20px;
        }
    }
}
