.privacy-policy {
    &__wrapper {
        padding: 26px 70px;
    }

    &__button {
        justify-self: flex-start;
        margin-bottom: 38px;
    }

    &__icon {
        transform: rotate(180deg);
    }

    &__block {
        border-radius: 15px;
        background: var(--lightest);
        padding: 53px 93px;
    }

    &__title {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .privacy-policy {
        &__wrapper {
            padding: 16px 20px;
        }

        &__title {
            font-size: 1.25rem;
        }

        &__block {
            padding: 23px;
        }
    }
}
