.reviews {
    margin-bottom: 140px;

    &__title {
        margin-bottom: 46px;
        padding-right: 960px;
    }

    &__blocks {
        display: flex;
        justify-content: space-between;
        gap: 27px;
    }

    &__block {
        width: 335px;
        height: 446px;
        background: var(--grey-3);
    }
}

@media (max-width: 1440px) {
    .reviews {
        margin-bottom: 120px;

        &__title {
            padding-right: 760px;
            margin-bottom: 24px;
        }

        &__blocks {
            gap: 18px;
        }
    }
}

@media (max-width: 1200px) {
    .reviews {
        margin-bottom: 80px;

        &__title {
            padding-right: 652px;
        }
    }
}
