.reviews {
    margin-bottom: 140px;

    &__title {
        margin-bottom: 46px;
        padding-right: 960px;
    }

    &__blocks {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 27px;
    }

    &__block {
        min-height: 446px;
        height: 100%;
        background: var(--grey-3);
    }
}

@media (max-width: 1440px) {
    .reviews {
        margin-bottom: 120px;

        &__title {
            padding-right: 760px;
            margin-bottom: 24px;
        }

        &__blocks {
            gap: 18px;
        }
    }
}

@media (max-width: 1200px) {
    .reviews {
        margin-bottom: 80px;

        &__title {
            padding-right: 652px;
        }
    }
}

@media (max-width: 1024px) {
    .reviews {
        &__title {
            padding-right: 476px;
        }

        &__blocks {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media (max-width: 860px) {
    .reviews {
        &__title {
            padding-right: 316px;
        }
    }
}

@media (max-width: 680px) {
    .reviews {
        &__blocks {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 550px) {
    .reviews {
        &__blocks {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 425px) {
    .reviews {
        &__title {
            padding: 0;
        }
    }
}
