.support {
    margin-bottom: 140px;

    &__title {
        padding: 0 560px;
    }

    &__img {
        justify-self: center;

        &_mobile {
            display: none;
        }
    }

    &__blocks {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        gap: 12px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 43px;
        border: 1px solid #93a39c;
        border-radius: 10px;
        padding: 46px 51px;
    }

    &__count {
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--orange);
    }

    &__text-wrap {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__block-title {
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--black);
    }

    &__block-text {
        font-weight: 500;
        font-size: 1.125rem;
        color: var(--grey-4);
    }
}

@media (max-width: 1440px) {
    .support {
        margin-bottom: 120px;

        &__title {
            padding: 0px 425px;
        }

        &__img-wrap {
            max-width: 990px;
            justify-self: center;
        }

        &__blocks {
            gap: 8px;
        }

        &__block {
            gap: 25px;
            padding: 35px 26px;
        }

        &__count,
        &__block-title {
            font-size: 1.25rem;
        }

        &__block-text {
            font-size: 1rem;
        }
    }
}

@media (max-width: 1200px) {
    .support {
        margin-bottom: 80px;

        &__title {
            padding: 0px 341px;
        }

        &__img-wrap {
            max-width: 740px;
        }

        &__block {
            gap: 15px;
            padding: 15px 16px;
        }

        &__text-wrap {
            gap: 24px;
        }

        &__block-title,
        &__count {
            font-size: 1.125rem;
        }
    }
}

@media (max-width: 1024px) {
    .support {
        &__title {
            padding: 0 216px;
        }

        &__img-wrap {
            display: none;

            &_mobile {
                display: block;
                max-width: 380px;
            }
        }

        &__img {
            &_mobile {
                display: block;
                width: 100&;
            }
        }

        &__blocks {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media (max-width: 860px) {
    .support {
        &__title {
            padding: 0 171px;
        }
    }
}

@media (max-width: 680px) {
    .support {
        &__title {
            padding: 0;
            margin-bottom: 18px;
        }

        &__blocks {
            grid-template-columns: repeat(1, 1fr);
        }

        &__img-wrap {
            &_mobile {
                display: none;
            }
        }
    }
}
