.work {
    margin-bottom: 140px;

    &__title {
        padding-right: 1220px;
        margin-bottom: 53px;
    }

    &__blocks {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 13px;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 124px;
        border: 1px solid var(--border);
        border-radius: 10px;
        padding: 39px 52px;
    }

    &__title-block {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--black);

        &_colored {
            font-weight: 700;
            color: var(--green);
        }
    }

    &__description {
        font-weight: 500;
        font-size: 1.125rem;
        color: var(--grey-4);
    }
}

@media (max-width: 1440px) {
    .work {
        margin-bottom: 120px;

        &__title {
            padding-right: 910px;
            margin-bottom: 30px;
        }

        &__blocks {
            gap: 10px;
        }

        &__block {
            gap: 60px;
            padding: 24px 22px 26px;
        }

        &__title-block {
            font-size: 1.25rem;
        }

        &__description {
            font-size: 1rem;
        }
    }
}

@media (max-width: 1200px) {
    .work {
        margin-bottom: 80px;

        &__title {
            padding-right: 778px;
        }

        &__block {
            gap: 30px;
        }
    }
}

@media (max-width: 1024px) {
    .work {
        &__title {
            padding-right: 608px;
            margin-bottom: 25px;
        }

        &__blocks {
            grid-template-columns: repeat(2, 1fr);
        }

        &__title-block br {
            display: none;
        }
    }
}

@media (max-width: 860px) {
    .work {
        &__title {
            padding-right: 418px;
        }
    }
}

@media (max-width: 680px) {
    .work {
        margin-bottom: 60px;

        &__title {
            padding-right: 368px;
        }

        &__blocks {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

@media (max-width: 425px) {
    .work {
        &__title {
            padding: 0;
        }
    }
}
