<section class="callback container">
    <div class="callback__wrapper">
        <div class="callback__block-left">
            <h2 class="callback__title title">Давайте обсудим ваш проект</h2>
            <div class="callback__block-person">
                <span class="callback__top-text">С вами свяжется</span>
                <div class="callback__block-bottom">
                    <div class="callback__img-wrap">
                        <img
                            src="./img/person.jpg"
                            class="callback__img"
                            alt="Фото руководителя"
                        />
                    </div>
                    <div class="callback__personal-info">
                        <span class="callback__name"
                            >Иванов <br />
                            Иван Иванович</span
                        >
                        <span class="callback__position">
                            руководитель проекта
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="callback__block-right">
            <p class="callback__form-text">
                Заполните, пожалуйста, контактную форму и укажите удобное время
                для связи
            </p>
            <form method="post" class="callback__inputs-blocks">
                <div class="callback__inputs">
                    <input
                        type="text"
                        class="callback__input input"
                        placeholder="Ваше имя или название организации"
                    />
                    <input
                        type="email"
                        class="callback__input input"
                        placeholder="Email"
                    />
                    <input
                        type="tel"
                        class="callback__input input"
                        placeholder="+7 (999) 999-99-99"
                    />
                    <input
                        type="text"
                        class="callback__input input"
                        placeholder="Комментарий"
                    />
                    <input
                        type="date"
                        class="callback__input input"
                        placeholder="Дата"
                    />
                    <input
                        type="time"
                        class="callback__input input"
                        placeholder="Время"
                    />
                </div>
                <div class="callback__bottom-block">
                    <button class="callback__button button">
                        <img
                            src="./img/icons/icon-arrow-white.png"
                            class="button__icon"
                            alt="Иконка стрелочки"
                        />
                        <span class="button__text">Отправить заявку</span>
                    </button>
                    <span class="callback__privacy">
                        Нажимая на кнопку, Вы соглашаетесь c условиями нашей
                        <a
                            href="./privacy-page.html"
                            class="callback__privacy_link privacy-link"
                        >
                            политики конфиденциальности
                        </a>
                    </span>
                </div>
                <!-- <div class="callback__inputs">
                    <input
                        type="date"
                        class="callback__input input"
                        placeholder="Дата"
                    />
                    <input
                        type="time"
                        class="callback__input input"
                        placeholder="Время"
                    />
                </div> -->
            </form>
        </div>
    </div>
</section>
