<section class="consultation">
    <div class="consultation__wrapper container">
        <div class="consultation__block-left">
            <h2 class="consultation__title">
                Начните c<span class="consultation__title_weight">
                    бесплатной
                </span>
                <br />
                консультации
            </h2>
            <span class="consultation__text">
                Заполните простую форму, наш менеджер свяжется c вами в течение
                15 минут
            </span>
        </div>
        <div class="consultation__block-right">
            <div class="consultation__inputs">
                <input
                    type="text"
                    placeholder="Ваше имя или название организации"
                    class="consultation__input-name input"
                />
                <input
                    type="tel"
                    placeholder="+7 (999) 999-99-99"
                    class="consultation__input-tel input"
                />
            </div>

            <div class="consultation__bottom-block">
                <button class="consultation__button button">
                    <img
                        src="./img/icons/icon-arrow-white.png"
                        class="nav__icon"
                        alt="Иконка стрелочки"
                    />
                    <span class="button__text">Перезвоните мне</span>
                </button>
                <span class="consultation__privacy">
                    Нажимая на кнопку, Вы соглашаетесь c условиями нашей
                    <a href="#" class="consultation__privacy_link privacy-link">
                        политики конфиденциальности
                    </a>
                </span>
            </div>
        </div>
    </div>
</section>
