<footer class="footer">
    <div class="footer__wrapper container">
        <div class="footer__block-top">
            <div class="footer__about">
                <div class="footer__img-wrap">
                    <img
                        src="./img/main-logo.png"
                        class="footer__img"
                        alt="Главный логотип в Footer"
                    />
                </div>
                <span class="footer__text-about">
                    Консалтинг в области управления строительными проектами
                </span>
            </div>
            <div class="footer__info-block">
                <div class="footer__links">
                    <a href="#about" class="footer__link">О нас</a>
                    <a href="#services" class="footer__link">Услуги</a>
                    <a href="#cases" class="footer__link">Кейсы</a>
                    <a href="#work" class="footer__link">Преимущества</a>
                    <a href="#reviews" class="footer__link">Отзывы</a>
                </div>
                <div class="footer__privacy-block">
                    <button
                        class="footer__button button button_white"
                        data-popup-target="project-discuss"
                    >
                        <img
                            src="./img/icons/icon-arrow-orange.png"
                            class="button__icon"
                            alt="Иконка стрелочки"
                        />
                        <span class="button__text">Обсудить проект</span>
                    </button>

                    <div class="footer__privacy">
                        <span class="footer__privacy-text">
                            2025 Все права защищены
                        </span>
                        <a
                            href="./privacy-page.html"
                            class="footer__link privacy-link privacy-link_colored"
                        >
                            Политика конфиденциальности
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__block-bottom">
            <img
                src="./img/pmccon.png"
                class="footer__img"
                alt="Лого компании PMCCON"
            />
        </div>
    </div>
</footer>
