<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PMCCON</title>
    <link rel="preload" href="fonts/manrope-regular.woff" as="font" />
    <link rel="preload" href="fonts/manrope-regular.woff2" as="font" />
    <link rel="stylesheet" href="css/main.css" />
    <link
        type="image/x-icon"
        rel="shortcut icon"
        href="./img/favicon/favicon.ico"
    />
    <link
        type="image/png"
        sizes="16x16"
        rel="icon"
        href="./img/favicon/favicon-16x16.png"
    />
    <link
        type="image/png"
        sizes="32x32"
        rel="icon"
        href="./img/favicon/favicon-32x32.png"
    />
    <link
        type="image/png"
        sizes="96x96"
        rel="icon"
        href="./img/favicon/favicon-96x96.png"
    />
    <link
        type="image/png"
        sizes="120x120"
        rel="icon"
        href="./img/favicon/favicon-120x120.png"
    />
    <link
        type="image/png"
        sizes="72x72"
        rel="icon"
        href="./img/favicon/android-icon-72x72.png"
    />
    <link
        type="image/png"
        sizes="96x96"
        rel="icon"
        href="./img/favicon/android-icon-96x96.png"
    />
    <link
        type="image/png"
        sizes="144x144"
        rel="icon"
        href="./img/favicon/android-icon-144x144.png"
    />
    <link
        type="image/png"
        sizes="192x192"
        rel="icon"
        href="./img/favicon/android-icon-192x192.png"
    />
    <link
        type="image/png"
        sizes="512x512"
        rel="icon"
        href="./img/favicon/android-icon-512x512.png"
    />
    <link
        sizes="57x57"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-57x57.png"
    />
    <link
        sizes="60x60"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-60x60.png"
    />
    <link
        sizes="72x72"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-72x72.png"
    />
    <link
        sizes="76x76"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-76x76.png"
    />
    <link
        sizes="114x114"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-114x114.png"
    />
    <link
        sizes="120x120"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-120x120.png"
    />
    <link
        sizes="144x144"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-144x144.png"
    />
    <link
        sizes="152x152"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-152x152.png"
    />
    <link
        sizes="180x180"
        rel="apple-touch-icon"
        href="./img/favicon/apple-touch-icon-180x180.png"
    />
    <script defer src="js/main.js"></script>
</head>
