<header class="header">
    <div class="header__wrapper container">
        <div class="header__logo-container">
            <button class="burger" aria-label="Меню">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="header__logo-info">
                <div class="header__logo-wrap">
                    <img
                        src="./img/main-logo.png"
                        alt="Логотип компании PMCCON"
                    />
                </div>
                <span class="header__text">
                    Консалтинг в области управления строительными проектами
                </span>
            </div>
        </div>
        <div class="nav">
            <div class="header__logo-info header__logo-info_mobile">
                <div class="header__logo-wrap">
                    <img
                        src="./img/main-logo.png"
                        alt="Логотип компании PMCCON"
                    />
                </div>
                <span class="header__text">
                    Консалтинг в области управления строительными проектами
                </span>
            </div>
            <div class="nav__links-list">
                <a href="#about" class="nav__link">О нас</a>
                <a href="#services" class="nav__link">Услуги</a>
                <a href="#cases" class="nav__link">Кейсы</a>
                <a href="#reviews" class="nav__link">Отзывы</a>
                <button
                    class="header__button button button_white"
                    data-popup-target="project-discuss"
                >
                    <img
                        src="./img/icons/icon-arrow-orange.png"
                        class="button__icon"
                        alt="Иконка стрелочки"
                    />
                    <span class="button__text">Обсудить проект</span>
                </button>
            </div>
        </div>
    </div>
</header>
