<section class="partner">
    <div class="partner__wrapper container">
        <span class="partner__text-decor text-decor text-decor_position">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="19"
                fill="none"
            >
                <g clip-path="url(#a)">
                    <mask
                        id="b"
                        width="18"
                        height="19"
                        x="0"
                        y="0"
                        maskUnits="userSpaceOnUse"
                        style="mask-type: luminance"
                    >
                        <path fill="#fff" d="M18 0H0v19h18V0Z" />
                    </mask>
                    <g mask="url(#b)">
                        <path
                            fill="#186641"
                            fill-rule="evenodd"
                            d="m9 0 9 3.167-9 3.166-9-3.166L9 0Zm0 12.667L18 9.5 9 6.333 0 9.5l9 3.167Zm0 0-9 3.166L9 19l9-3.167-9-3.166Z"
                            clip-rule="evenodd"
                        />
                    </g>
                </g>
                <defs>
                    <clipPath id="a">
                        <path fill="#fff" d="M0 0h18v19H0z" />
                    </clipPath>
                </defs>
            </svg>
            О компании
        </span>
        <h2 class="partner__title title title_position">
            <span class="title_colored">PMCCON — надежный партнер</span>
            в управлении строительными проектами
        </h2>
        <div class="partner__top-block">
            <div class="partner__block-stats">
                <div class="partner__block-wrap">
                    <div class="partner__img-wrap">
                        <img
                            src="./img/icons/icon-circle.png"
                            class="partner__img"
                            alt="Декоративная иконка круга"
                        />
                    </div>
                    <p class="partner__description">
                        С 2006 года команда специалистов участвовала в
                        реализации крупных строительных проектов, разрабатывая и
                        совершенствуя методы планирования, управления сроками,
                        ресурсами, финансами, BI-аналитики и консалтинга.
                    </p>
                </div>
                <div class="partner__block-wrap">
                    <div class="partner__img-wrap">
                        <img
                            src="./img/icons/icon-circle.png"
                            class="partner__img"
                            alt="Декоративная иконка круга"
                        />
                    </div>
                    <p>
                        К 2025 году мы сформировали команду из ведущих
                        экспертов, разработали уникальный комплексный подход к
                        управлению проектами, объединяя глубокую отраслевую
                        экспертизу, современные технологии и системное
                        управление процессами.
                    </p>
                </div>
            </div>
            <div class="partner__middle-img">
                <img
                    src="./img/partner-img.png"
                    alt="Декоративная картинка в секции партнеров"
                />
            </div>
            <div class="partner__experience">
                <h3 class="partner__block-title">Опыт</h3>
                <ul class="partner__list">
                    <li class="partner__item">
                        <span class="partner__icon">
                            <svg
                                width="5"
                                height="5"
                                viewBox="0 0 5 5"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2.5"
                                    fill="#F85C35"
                                />
                            </svg>
                        </span>
                        <span class="partner__text">
                            Участие в стратегических <br />
                            проектах в России и за рубежом
                        </span>
                    </li>
                    <li class="partner__item">
                        <span class="partner__icon">
                            <svg
                                width="5"
                                height="5"
                                viewBox="0 0 5 5"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2.5"
                                    fill="#F85C35"
                                />
                            </svg>
                        </span>
                        <span class="partner__text">
                            Управление проектами <br />
                            с бюджетом от 200 млрд ₽
                        </span>
                    </li>
                    <li class="partner__item">
                        <span class="partner__icon">
                            <svg
                                width="5"
                                height="5"
                                viewBox="0 0 5 5"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <circle
                                    cx="2.5"
                                    cy="2.5"
                                    r="2.5"
                                    fill="#F85C35"
                                />
                            </svg>
                        </span>
                        <span class="partner__text">
                            Проведение технического аудита на крупных
                            строительных объектах, внедрение инструментов
                            контроля качества и эффективности
                        </span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="partner__bottom-block">
            <div class="partner__block">
                <span class="partner__stats-text">
                    более<br />
                    <span class="partner__stats-text_colored"> 10 000</span
                    >&nbsp;часов
                </span>
                <span class="partner__stats-description">
                    работы по сопровождению проектов <br />и внедрению лучших
                    практик
                </span>
            </div>

            <div class="partner__block">
                <span class="partner__stats-text">
                    более<br />
                    <span class="partner__stats-text_colored"> 90</span>
                    %
                </span>
                <span class="partner__stats-description">
                    прогнозная точность наших<br />
                    календарных графиков
                </span>
            </div>

            <div class="partner__block">
                <span class="partner__stats-text">
                    более<br />
                    <span class="partner__stats-text_colored"> 100 </span>
                </span>
                <span class="partner__stats-description">
                    подрядчиков и поставщиков<br />
                    верифицировано и квалифицировано нами
                </span>
            </div>

            <div class="partner__block">
                <span class="partner__stats-text">
                    более<br />
                    <span class="partner__stats-text_colored"> 40 </span>
                </span>
                <span class="partner__stats-description">
                    успешно завершенных проектов<br />
                    в разных секторах строительства
                </span>
            </div>
        </div>
    </div>
</section>
