<div class="popup" id="consultationPopup">
    <div class="popup__overlay"></div>
    <div class="popup__content">
        <h2 class="popup__title">Запишитесь на бесплатную консультацию</h2>
        <p class="popup__text">
            Предоставляем бесплатную 30-минутную консультацию по телефону или
            видеосвязи для разъяснения вопросов по управлению проектами или
            планированию
        </p>
        <div class="popup__inputs">
            <input
                type="text"
                class="popup__input input"
                placeholder="Ваше имя или название организации"
            />
            <input
                type="tel"
                class="popup__input input"
                placeholder="+7 (999) 999-99-99"
            />
            <input
                type="email"
                class="popup__input input"
                placeholder="Email"
            />
            <input
                type="text"
                class="popup__input input"
                placeholder="Комментарий"
            />
        </div>
        <div class="popup__bottom-block">
            <button class="popup__button button">
                <img
                    src="./img/icons/icon-arrow-white.png"
                    class="button__icon"
                    alt="Иконка стрелочки"
                />
                <span class="button__text">Отправить заявку</span>
            </button>
            <span class="popup__privacy">
                Нажимая на кнопку, Вы соглашаетесь c условиями нашей
                <a
                    href="./privacy-page.html"
                    class="popup__privacy_link privacy-link"
                >
                    политики конфиденциальности
                </a>
            </span>
        </div>
        <button class="popup__close" id="popupClose" aria-label="Закрыть попап">
            ✕
        </button>
    </div>
</div>

<div class="popup" id="project-discuss">
    <div class="popup__overlay"></div>
    <div class="popup__content">
        <h2 class="popup__title">Давайте обсудим ваш проект</h2>
        <div class="popup__inputs">
            <input
                type="text"
                class="popup__input input"
                placeholder="Ваше имя или название организации"
            />
            <input
                type="tel"
                class="popup__input input"
                placeholder="+7 (999) 999-99-99"
            />
            <input
                type="email"
                class="popup__input input"
                placeholder="Email"
            />
            <input
                type="text"
                class="popup__input input"
                placeholder="Комментарий"
            />
        </div>
        <div class="popup__bottom-block">
            <button class="popup__button button">
                <img
                    src="./img/icons/icon-arrow-white.png"
                    class="button__icon"
                    alt="Иконка стрелочки"
                />
                <span class="button__text">Отправить заявку</span>
            </button>
            <span class="popup__privacy">
                Нажимая на кнопку, Вы соглашаетесь c условиями нашей
                <a
                    href="./privacy-page.html"
                    class="popup__privacy_link privacy-link"
                >
                    политики конфиденциальности
                </a>
            </span>
        </div>
        <button class="popup__close">✕</button>
    </div>
</div>

<div class="popup" id="consultation-service">
    <div class="popup__overlay"></div>
    <div class="popup__content">
        <h2 class="popup__title">Заявка на консультацию по услуге</h2>
        <div class="popup__inputs">
            <input
                type="text"
                class="popup__input input"
                placeholder="Ваше имя или название организации"
            />
            <input
                type="tel"
                class="popup__input input"
                placeholder="+7 (999) 999-99-99"
            />
            <input
                type="email"
                class="popup__input input"
                placeholder="Email"
            />
            <input
                type="text"
                class="popup__input input"
                placeholder="Комментарий"
            />
        </div>
        <div class="popup__bottom-block">
            <button class="popup__button button">
                <img
                    src="./img/icons/icon-arrow-white.png"
                    class="button__icon"
                    alt="Иконка стрелочки"
                />
                <span class="button__text">Отправить заявку</span>
            </button>
            <span class="popup__privacy">
                Нажимая на кнопку, Вы соглашаетесь c условиями нашей
                <a
                    href="./privacy-page.html"
                    class="popup__privacy_link privacy-link"
                >
                    политики конфиденциальности
                </a>
            </span>
        </div>
        <button class="popup__close">✕</button>
    </div>
</div>

<div class="popup" id="project-1">
    <div class="popup__overlay"></div>
    <div class="popup__content popup__content_width">
        <div class="popup__img-wrap">
            <img
                src="./img/project-1.jpg"
                class="popup__img"
                alt="Фото Юрубчено-Тохомское месторождение, Красноярский край"
            />
        </div>
        <div class="popup__info-block">
            <h2 class="popup__title popup__title_font">
                Юрубчено-Тохомское месторождение, <br />
                Красноярский край
            </h2>
            <div class="popup__lists">
                <!-- Первый список -->
                <span class="popup__title-list">Цель данного проекта:</span>
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-goal.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Разработка методологии управления проектом,
                            создание комплексных графиков, планов и системы
                            отчетности.</span
                        >
                    </li>
                </ul>

                <span class="popup__title-list">Проделанная работа:</span>
                <!-- Второй список -->
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-check.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Разработана методология планирования c учетом
                            удаленности, климатических условий и сложной
                            логистики.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <div class="popup__marker-wrap">
                                <img
                                    src="./img/icons/icon-check.png"
                                    class="popup__marker"
                                    alt="Иконка в блоке результатов"
                                />
                            </div>
                        </div>

                        <span class="popup__text-block"
                            >Создан мастер-график строительства и обустройства
                            инфраструктуры.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-check.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Внедрена система отчетности, позволяющая
                            анализировать выполнение плана и выявлять
                            отклонения.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-check.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Проведено обучение персонала подрядных
                            организаций.</span
                        >
                    </li>
                </ul>

                <!-- Третий список -->
                <span class="popup__title-list">Результат:</span>
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Сокращено время на согласование изменений в графике
                            на 30%.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Повышена прозрачность процессов и контроль
                            сроков.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Минимизированы риски срыва сроков за счет
                            оперативного выявления проблем.</span
                        >
                    </li>
                </ul>
            </div>
        </div>
        <button class="popup__close popup__close_position">✕</button>
    </div>
</div>

<div class="popup" id="project-2">
    <div class="popup__overlay"></div>
    <div class="popup__content popup__content_width">
        <div class="popup__img-wrap">
            <img
                src="./img/project-2.jpg"
                class="popup__img"
                alt="Фото Юрубчено-Тохомское месторождение, Красноярский край"
            />
        </div>
        <div class="popup__info-block">
            <h2 class="popup__title popup__title_font">
                Обский газохимический комплекс, <br />
                ЯНАО
            </h2>
            <div class="popup__lists">
                <!-- Первый список -->
                <span class="popup__title-list">Цель данного проекта:</span>
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-goal.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Разработка системы графиков и отчетности для
                            эффективного управления строительством.</span
                        >
                    </li>
                </ul>

                <span class="popup__title-list">Проделанная работа:</span>
                <!-- Второй список -->
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-check.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>
                        <span class="popup__text-block"
                            >Разработан детализированный календарно-сетевой
                            график.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <div class="popup__marker-wrap">
                                <img
                                    src="./img/icons/icon-check.png"
                                    class="popup__marker"
                                    alt="Иконка в блоке результатов"
                                />
                            </div>
                        </div>

                        <span class="popup__text-block"
                            >Настроены инструменты мониторинга хода
                            строительства и выявления отклонений.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-check.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Внедрена отчетность с аналитикой по срокам, объемам
                            финансирования и степени готовности объекта.</span
                        >
                    </li>
                </ul>

                <!-- Третий список -->
                <span class="popup__title-list">Результат:</span>
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Улучшена точность прогнозирования сроков.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Оптимизирована работа с подрядчиками за счет
                            автоматизации отчетности.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Повышена управляемость проектом благодаря
                            прозрачности данных.</span
                        >
                    </li>
                </ul>
            </div>
        </div>
        <button class="popup__close popup__close_position">✕</button>
    </div>
</div>

<div class="popup" id="project-3">
    <div class="popup__overlay"></div>
    <div class="popup__content popup__content_width">
        <div class="popup__img-wrap">
            <img
                src="./img/project-3.jpg"
                class="popup__img"
                alt="Фото Юрубчено-Тохомское месторождение, Красноярский край"
            />
        </div>
        <div class="popup__info-block">
            <h2 class="popup__title popup__title_font">
                Горноперерабатывающий комплекс по добыче и переработке
                техногенного месторождения золота в отвалах Ключевского
                месторождения в Забайкальском крае
            </h2>
            <div class="popup__lists">
                <!-- Первый список -->
                <span class="popup__title-list">Цель данного проекта:</span>
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-goal.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Разработка методологии управления проектом, системы
                            графиков, отчетности и BI-аналитики.</span
                        >
                    </li>
                </ul>

                <span class="popup__title-list">Проделанная работа:</span>
                <!-- Второй список -->
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-check.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>
                        <span class="popup__text-block"
                            >Создан детализированный график строительства,
                            включающий все этапы.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <div class="popup__marker-wrap">
                                <img
                                    src="./img/icons/icon-check.png"
                                    class="popup__marker"
                                    alt="Иконка в блоке результатов"
                                />
                            </div>
                        </div>

                        <span class="popup__text-block"
                            >Внедрена методология контроля выполнения работ с
                            учетом поставок оборудования и материалов.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-check.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Разработана BI-система для анализа выполнения
                            сроков, финансирования и использования
                            ресурсов.</span
                        >
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-check.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Автоматизирована отчетность, сокращены ошибки и
                            ручной труд.</span
                        >
                    </li>
                </ul>

                <!-- Третий список -->
                <span class="popup__title-list">Результат:</span>
                <ul class="popup__list">
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Анализ данных ускорен в 3 раза благодаря
                            BI-системе.
                        </span>
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>
                        <span class="popup__text-block"
                            >Точность планирования увеличена, отклонения от
                            графика снижены на 20%.
                        </span>
                    </li>
                    <li class="popup__item">
                        <div class="popup__marker-wrap">
                            <img
                                src="./img/icons/icon-result.png"
                                class="popup__marker"
                                alt="Иконка в блоке результатов"
                            />
                        </div>

                        <span class="popup__text-block"
                            >Оптимизировано взаимодействие между заказчиком и
                            подрядчиками.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <button class="popup__close popup__close_position">✕</button>
    </div>
</div>
