<section class="possibilities">
    <div class="possibilities__wrapper container">
        <span class="possibilities__text-decor text-decor text-decor_position">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="20"
                fill="none"
            >
                <mask
                    id="a"
                    width="18"
                    height="20"
                    x="0"
                    y="0"
                    maskUnits="userSpaceOnUse"
                    style="mask-type: luminance"
                >
                    <path fill="#fff" d="M18 0H0v19.385h18V0Z" />
                </mask>
                <g mask="url(#a)">
                    <path
                        fill="#186641"
                        fill-rule="evenodd"
                        d="M4.5 0H9v4.846L6.75 7.27 4.5 9.692H0V4.846l2.25-2.423L4.5 0ZM9 9.692H4.5l-2.25 2.423L0 14.54v4.846h4.5l2.25-2.424L9 14.54v4.846h4.5l2.25-2.424L18 14.54V9.692h-4.5l2.25-2.423L18 4.846V0h-4.5l-2.25 2.423L9 4.846v4.846Zm0 0h4.5l-2.25 2.423L9 14.54V9.692Z"
                        clip-rule="evenodd"
                    />
                </g>
            </svg>
            Наши возможности
        </span>

        <h2 class="possibilities__title title title_position">
            <span class="title_colored">Мы помогаем</span> нашим клиентам
            совершенствовать бизнес-процессы и повышать качество проекта
        </h2>

        <div class="possibilities__blocks">
            <div class="possibilities__block possibilities__block_padding">
                <div class="possibilities__img-wrap">
                    <img
                        src="./img/unite.png"
                        class="possibilities__img"
                        alt="Декоративная картинка"
                    />
                </div>
                <div class="possibilities__text-wrap">
                    <h3 class="possibilities__block-title">Объединяем</h3>
                    <p class="possibilities__text">
                        консалтинг, обучение, внедрение BI-аналитики,технический
                        аудит и оптимизацию процессов
                    </p>
                </div>
            </div>
            <div class="possibilities__block">
                <div class="possibilities__img-wrap">
                    <img
                        src="./img/developing.png"
                        class="possibilities__img"
                        alt="Декоративная картинка"
                    />
                </div>
                <div class="possibilities__text-wrap">
                    <h3 class="possibilities__block-title">Разрабатываем</h3>
                    <p class="possibilities__text">
                        уникальные подходы и инструменты для каждого клиента,
                        ориентируясь на специфику вашего проекта
                    </p>
                </div>
            </div>
            <div class="possibilities__block">
                <div class="possibilities__img-wrap">
                    <img
                        src="./img/implementing.png"
                        class="possibilities__img"
                        alt="Декоративная картинка"
                    />
                </div>
                <div class="possibilities__text-wrap">
                    <h3 class="possibilities__block-title">Внедряем</h3>
                    <p class="possibilities__text">
                        передовые инструменты BI-аналитики и планирования, что
                        помогает клиентам работать более эффективно
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
