<section class="projects">
    <div class="prokects__wrapper container">
        <span class="work__text-decor text-decor">
            <svg
                width="20"
                height="18"
                viewBox="0 0 20 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M5.98785 11.477L0.953125 10C0.983394 13.0639 1.16642 15.8856 2.273 16.8475C3.59887 18 5.73284 18 10.0008 18C14.2686 18 16.4027 18 17.7285 16.8475C18.8351 15.8856 19.0181 13.0639 19.0484 10L14.0138 11.477C13.9372 12.1978 13.4585 12.8263 12.76 13.0995L12.0556 13.3751C10.7366 13.891 9.26511 13.891 7.94604 13.3751L7.24174 13.0995C6.54318 12.8263 6.06457 12.1978 5.98785 11.477Z"
                    fill="#186641"
                />
                <path
                    d="M5.60893 0H14.3911C16.8412 0 18.0663 -2.03198e-07 18.8934 0.76475C19.0524 0.911738 19.1977 1.07684 19.327 1.25749C20 2.19739 20 3.58951 20 6.37375C20 7.08034 20 7.43352 19.8492 7.70909C19.8199 7.76273 19.7866 7.81352 19.7498 7.86091C19.5609 8.1042 19.2631 8.2058 18.6676 8.40875L14 10V9.09091C14 7.83568 13.1046 6.81818 12 6.81818H8C6.89543 6.81818 6 7.83568 6 9.09091V10L1.3324 8.40875C0.7369 8.2058 0.43915 8.1042 0.25021 7.86091C0.21341 7.81352 0.18015 7.76273 0.15078 7.70909C-4.47035e-08 7.43352 0 7.08034 0 6.37375C0 3.58951 5.96046e-08 2.19739 0.67298 1.25749C0.80233 1.07685 0.94763 0.911738 1.10659 0.76475C1.9337 -2.03198e-07 3.15877 0 5.60893 0Z"
                    fill="#186641"
                />
            </svg>
            Кейсы
        </span>

        <h2 class="projects__title title">
            Мы гордимся
            <span class="title_colored"> успешными проектами </span> наших
            клиентов
        </h2>
        <div class="projects__content">
            <div class="projects__img-wrap">
                <img
                    src="./img/project-1.jpg"
                    class="projects__img"
                    alt="Фото Юрубчено-Тохомское месторождение, Красноярский край"
                />
            </div>
            <div class="projects__info-block">
                <h3 class="projects__block-title">
                    Юрубчено-Тохомское месторождение, <br />
                    Красноярский край
                </h3>
                <div class="projects__description">
                    <div class="projects__block">
                        <span class="projects__block-text">Цель проекта</span>
                        <span class="projects__block-description">
                            Разработка методологии управления проектом, создание
                            комплексных графиков, планов и системы отчетности.
                        </span>
                    </div>
                    <div class="projects__block">
                        <span class="projects__block-text">
                            Основной результат
                        </span>
                        <span class="projects__block-description">
                            Сокращено время на согласование изменений в графике;
                            повышена прозрачность процессов и контроль сроков;
                            минимизированы риски срыва сроков
                        </span>
                    </div>
                </div>
                <button class="projects__button button">
                    <img
                        src="./img/icons/icon-arrow-white.png"
                        class="nav__icon"
                        alt="Иконка стрелочки"
                    />
                    <span class="button__text">Оставить заявку</span>
                </button>
            </div>
        </div>
        <div class="projects__pagination-block">
            <span class="projects__page-count">
                <span class="projects__page-count_active"> 01</span>-03
            </span>

            <div class="projects__buttons">
                <button
                    class="projects__button-step projects__button-step_arrow"
                >
                    <img
                        src="./img/icons/icon-arrow-slider.png"
                        class="projects__icon-arrow"
                        alt="Иконка стрелочка в блоке слайдера"
                    />
                </button>
                <button
                    class="projects__button-step projects__button-step_colored"
                >
                    Следующий кейс
                    <svg
                        width="12"
                        height="10"
                        viewBox="0 0 12 10"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M0.972656 4.4C0.641285 4.4 0.372656 4.66863 0.372656 5C0.372656 5.33137 0.641285 5.6 0.972656 5.6V4.4ZM11.0246 5.42426C11.2589 5.18995 11.2589 4.81005 11.0246 4.57574L7.20624 0.757359C6.97192 0.523045 6.59202 0.523045 6.35771 0.757359C6.12339 0.991674 6.12339 1.37157 6.35771 1.60589L9.75182 5L6.35771 8.39411C6.12339 8.62843 6.12339 9.00833 6.35771 9.24264C6.59202 9.47696 6.97192 9.47696 7.20624 9.24264L11.0246 5.42426ZM0.972656 5.6H10.6003V4.4H0.972656V5.6Z"
                            fill="#F85C35"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
