<section class="services">
    <div class="services__wrapper container">
        <span class="services__text-decor text-decor">
            <svg
                width="22"
                height="20"
                viewBox="0 0 22 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M1 16C1 15.0681 1 14.6022 1.15224 14.2346C1.35523 13.7446 1.74458 13.3552 2.23463 13.1522C2.60218 13 3.06812 13 4 13H18C18.9319 13 19.3978 13 19.7654 13.1522C20.2554 13.3552 20.6448 13.7446 20.8478 14.2346C21 14.6022 21 15.0681 21 16C21 16.9319 21 17.3978 20.8478 17.7654C20.6448 18.2554 20.2554 18.6448 19.7654 18.8478C19.3978 19 18.9319 19 18 19H4C3.06812 19 2.60218 19 2.23463 18.8478C1.74458 18.6448 1.35523 18.2554 1.15224 17.7654C1 17.3978 1 16.9319 1 16Z"
                    fill="#186641"
                    stroke="white"
                    stroke-width="0.9"
                />
                <path
                    d="M1 10C1 9.0681 1 8.6022 1.15224 8.2346C1.35523 7.74458 1.74458 7.35523 2.23463 7.15224C2.60218 7 3.06812 7 4 7H18C18.9319 7 19.3978 7 19.7654 7.15224C20.2554 7.35523 20.6448 7.74458 20.8478 8.2346C21 8.6022 21 9.0681 21 10C21 10.9319 21 11.3978 20.8478 11.7654C20.6448 12.2554 20.2554 12.6448 19.7654 12.8478C19.3978 13 18.9319 13 18 13H4C3.06812 13 2.60218 13 2.23463 12.8478C1.74458 12.6448 1.35523 12.2554 1.15224 11.7654C1 11.3978 1 10.9319 1 10Z"
                    fill="#186641"
                    stroke="white"
                    stroke-width="0.9"
                />
                <path
                    d="M1 4C1 3.06812 1 2.60218 1.15224 2.23463C1.35523 1.74458 1.74458 1.35523 2.23463 1.15224C2.60218 1 3.06812 1 4 1H18C18.9319 1 19.3978 1 19.7654 1.15224C20.2554 1.35523 20.6448 1.74458 20.8478 2.23463C21 2.60218 21 3.06812 21 4C21 4.93188 21 5.39782 20.8478 5.76537C20.6448 6.25542 20.2554 6.64477 19.7654 6.84776C19.3978 7 18.9319 7 18 7H4C3.06812 7 2.60218 7 2.23463 6.84776C1.74458 6.64477 1.35523 6.25542 1.15224 5.76537C1 5.39782 1 4.93188 1 4Z"
                    fill="#186641"
                    stroke="white"
                    stroke-width="0.9"
                />
                <path
                    d="M4 11C4.55228 11 5 10.5523 5 10C5 9.44772 4.55228 9 4 9C3.44772 9 3 9.44772 3 10C3 10.5523 3.44772 11 4 11Z"
                    fill="white"
                />
                <path
                    d="M4 5C4.55228 5 5 4.55228 5 4C5 3.44772 4.55228 3 4 3C3.44772 3 3 3.44772 3 4C3 4.55228 3.44772 5 4 5Z"
                    fill="white"
                />
                <path
                    d="M4 17C4.55228 17 5 16.5523 5 16C5 15.4477 4.55228 15 4 15C3.44772 15 3 15.4477 3 16C3 16.5523 3.44772 17 4 17Z"
                    fill="white"
                />
            </svg>
            Услуги
        </span>

        <h2 class="services__title title">
            <span class="title_colored">Основные направления </span>нашей
            деятельности
        </h2>

        <div class="services__blocks">
            <div class="services__block">
                <div class="services__img-wrap">
                    <img
                        src="./img/services-1.png"
                        class="services__img"
                        alt="Декоративная картинка в блоке услуг"
                    />
                </div>
                <div class="services__wrapper-block">
                    <div class="services__text-block">
                        <h3 class="services__title-block">
                            Консалтинг и проектное управление
                        </h3>
                        <p class="services__text">
                            <span class="services__text_weight"
                                >Разработка и контроль </span
                            >графиков строительства, управление сроками,
                            ресурсами, бюджетами, внедрение и поддержка функций
                            PMC.
                            <span class="services__text_weight">
                                Внедрение передовых методологий проектного
                                управления
                            </span>
                            : PMI, Primavera, Last Planner.
                        </p>
                    </div>
                    <div class="services__buttons">
                        <button class="services__button button">
                            <img
                                src="./img/icons/icon-arrow-white.png"
                                class="nav__icon"
                                alt="Иконка стрелочки"
                            />
                            <span class="button__text">Оставить заявку</span>
                        </button>
                        <button
                            class="services__button button button_transparent"
                        >
                            Узнать подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="services__block">
                <div class="services__img-wrap">
                    <img
                        src="./img/services-2.png"
                        class="services__img"
                        alt="Декоративная картинка в блоке услуг"
                    />
                </div>
                <div class="services__wrapper-block">
                    <div class="services__text-block">
                        <h3 class="services__title-block">
                            Обучение и развитие персонала
                        </h3>
                        <p class="services__text">
                            <span class="services__text_weight">
                                Обучение специалистов
                            </span>
                            по планированию и управлению проектами. Мы
                            предлагаем
                            <span class="services__text_weight">
                                тренинги, курсы и мастер-классы для
                                специалистов</span
                            >, улучшая их знания в области планирования,
                            управления и использования специализированных
                            программ.
                        </p>
                    </div>
                    <div class="services__buttons">
                        <button class="services__button button">
                            <img
                                src="./img/icons/icon-arrow-white.png"
                                class="nav__icon"
                                alt="Иконка стрелочки"
                            />
                            <span class="button__text">Оставить заявку</span>
                        </button>
                        <button
                            class="services__button button button_transparent"
                        >
                            Узнать подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="services__block">
                <div class="services__img-wrap">
                    <img
                        src="./img/services-3.png"
                        class="services__img"
                        alt="Декоративная картинка в блоке услуг"
                    />
                </div>
                <div class="services__wrapper-block">
                    <div class="services__text-block">
                        <h3 class="services__title-block">Технический аудит</h3>
                        <p class="services__text">
                            <span class="services__text_weight">
                                Проведение технического аудита
                            </span>
                            строительных проектов для выявления рисков и
                            оптимизации процессов.
                            <span class="services__text_weight">
                                Организуем комплексную проверку проектов
                            </span>
                            , оцениваем соответствие нормативным требованиям и
                            выявляем возможные отклонения.
                        </p>
                    </div>
                    <div class="services__buttons">
                        <button class="services__button button">
                            <img
                                src="./img/icons/icon-arrow-white.png"
                                class="nav__icon"
                                alt="Иконка стрелочки"
                            />
                            <span class="button__text">Оставить заявку</span>
                        </button>
                        <button
                            class="services__button button button_transparent"
                        >
                            Узнать подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="services__block">
                <div class="services__img-wrap">
                    <img
                        src="./img/services-4.png"
                        class="services__img"
                        alt="Декоративная картинка в блоке услуг"
                    />
                </div>
                <div class="services__wrapper-block">
                    <div class="services__text-block">
                        <h3 class="services__title-block">Технический аудит</h3>
                        <p class="services__text">
                            Предоставляем
                            <span class="services__text_weight">
                                системы для автоматизации отчетности, интеграции
                                данных и прогнозирования
                            </span>
                            на основе анализа больших данных с помощью
                            современных BI-платформ (Power BI, Visiology,
                            Analytic Workspace).
                        </p>
                    </div>
                    <div class="services__buttons">
                        <button class="services__button button">
                            <img
                                src="./img/icons/icon-arrow-white.png"
                                class="nav__icon"
                                alt="Иконка стрелочки"
                            />
                            <span class="button__text">Оставить заявку</span>
                        </button>
                        <button
                            class="services__button button button_transparent"
                        >
                            Узнать подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="services__block">
                <div class="services__img-wrap">
                    <img
                        src="./img/services-5.png"
                        class="services__img"
                        alt="Декоративная картинка в блоке услуг"
                    />
                </div>
                <div class="services__wrapper-block">
                    <div class="services__text-block">
                        <h3 class="services__title-block">Планирование</h3>
                        <p class="services__text">
                            <span class="services__text_weight">
                                Разрабатываем эффективные стратегии
                            </span>
                            для стабильной реализации проекта. Мы помогаем
                            <span class="services__text_weight">
                                минимизировать риски
                            </span>
                            , связанные с задержками и перерасходами,
                            <span class="services__text_weight">
                                оптимизировать затраты и процессы </span
                            >.
                        </p>
                    </div>
                    <div class="services__buttons">
                        <button class="services__button button">
                            <img
                                src="./img/icons/icon-arrow-white.png"
                                class="nav__icon"
                                alt="Иконка стрелочки"
                            />
                            <span class="button__text">Оставить заявку</span>
                        </button>
                        <button
                            class="services__button button button_transparent"
                        >
                            Узнать подробнее
                        </button>
                    </div>
                </div>
            </div>

            <div class="services__block">
                <div class="services__img-wrap">
                    <img
                        src="./img/services-6.png"
                        class="services__img"
                        alt="Декоративная картинка в блоке услуг"
                    />
                </div>
                <div class="services__wrapper-block">
                    <div class="services__text-block">
                        <h3 class="services__title-block">
                            Доступ к Primavera на нашем сервере
                        </h3>
                        <div class="services__text">
                            <p class="services__description">
                                Мы обеспечиваем удобный и безопасный доступ к
                                Primavera P6 без необходимости установки на ваш
                                компьютер. Что вы получаете:
                            </p>
                            <ul class="services__list">
                                <li class="services__item">
                                    Готовое рабочее место на нашем сервере с
                                    установленной Primavera
                                </li>
                                <li class="services__item">
                                    Быструю и стабильную работу без сложных
                                    настроек
                                </li>
                                <li class="services__item">
                                    Защищенный доступ из любой точки мира
                                </li>
                                <li class="services__item">
                                    Администрирование и техническую поддержку
                                </li>
                            </ul>
                            <p class="services__description">
                                Работайте с Primavera без лишних затрат на
                                инфраструктуру!
                            </p>
                        </div>
                    </div>
                    <div class="services__buttons">
                        <button class="services__button button">
                            <img
                                src="./img/icons/icon-arrow-white.png"
                                class="nav__icon"
                                alt="Иконка стрелочки"
                            />
                            <span class="button__text">Оставить заявку</span>
                        </button>
                        <button
                            class="services__button button button_transparent"
                        >
                            Узнать подробнее
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
