<section class="top-info">
    <div class="top-info__wrapper container">
        <div class="top-info__title-wrap">
            <h1 class="top-info__title">
                Настроим
                <span class="top-info__title_colored"
                    >эффективную систему&nbsp;управления и контроля</span
                >
                в вашем проекте
            </h1>
            <p class="top-info__text">
                Доверьте управление проектами нашей опытной команде,
                и&nbsp;мы&nbsp;поможем вашему бизнесу стать более эффективным.
                Предоставляем услуги по
                <span class="top-info__text_weight">
                    планированию, обучению персонала, BI-аналитике и
                    техническому аудиту</span
                >
                для оптимизации процессов и снижения затрат.
            </p>
        </div>
        <div class="top-info__bottom-block">
            <button class="top-info__button button">
                <img
                    src="./img/icons/icon-arrow-white.png"
                    class="nav__icon"
                    alt="Иконка стрелочки"
                />
                <span class="button__text">Бесплатная консультация</span>
            </button>
            <p class="top-info__bottom-text">
                С нами вы получите надежного партнера для достижения ваших
                бизнес-целей. Свяжитесь&nbsp;с нами для обсуждения
                сотрудничества!
            </p>
        </div>
    </div>
</section>
