/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */

:root {
    --black: #000;
    --white: #fff;
    --white-transparent: rgba(255, 255, 255, 0.8);
    --bg-white: #fafafa;
    --lightest: #f5f5f5;
    --light-grey: #ededed;
    --lightest-grey: #faf7f6;
    --grey: #535353;
    --grey-2: #282828;
    --grey-3: #737373;
    --grey-4: #787878;
    --grey-5: #c6c6c6;
    --grey-6: #f7f7f7;
    --grey-7: #b5b5b5;
    --grey-8: #6a6a6a;
    --grey-9: #cdcdcd;
    --grey-10: #ccc;
    --grey-11: #f3f3f3;
    --grey-12: #b8b0ae;
    --dark-grey: #555;
    --darknes: #22222a;

    --orange: #f85c35;
    --orange-text: #f46111;
    --green: #186641;
    --brown: #846259;

    --border: #e6e6e6;

    --font-family: "Manrope", sans-serif;
    --second-family: "Gilroy", sans-serif;
    --third-family: "Onest", sans-serif;
    --font3: "Inter", sans-serif;
    --font4: "Rubik", sans-serif;
}
